/* general */
main > section:nth-child(1),
main > section:nth-child(2) {
	border-right: 1px solid #e1e4e8;
}

/* config */
.panel-list {
	overflow: scroll;
}

.panel-list > div {
	width: 100%;
	height: 45px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid #e1e4e8;
}

.panel-list > div > div {
	position: absolute;
}

.panel-list > div > div {
	left: 10px;
	top: 4px;
	height: 38px;
}

.panel-list > div > div > div:first-child {
	font-size: 15px;
}

.panel-list > div > div > div:last-child {
	margin-top: 3px;
	font-size: 11px;
	color: #606060;
}

.panel-list > div:hover {
	background-color: #f6f8fa;
}

.panel-list > .seperator {
	height: 20px;
	background-color: #f6f8fa;
	cursor: default;
}

.panel-list > .seperator > div {
	left: 10px;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	top: 0;
}

.panel-list > .seperator > figure {
	width: 19px;
	height: 20px;
	position: absolute;
	right: 1px;
	left: auto;
	top: 0;
	margin: 0;
	transition: transform 0.1s;
}

.panel-list > .seperator.collapsed > figure {
	transform: rotate(-90deg);
	transform-origin: center;
}

.panel-list > .seperator > figure > div {
	position: absolute;
	width: 1px;
	height: 6px;
	border-radius: 2px;
	top: 7px;
	background-color: #606060;
	transform-origin: bottom center;
}

.panel-list > .seperator > figure > div:nth-child(1) {
	transform: rotate(-46deg);
	left: 9px;
}

.panel-list > .seperator > figure > div:nth-child(2) {
	transform: rotate(46deg);
	left: 9px;
}

.panel-list span {
	color: #547892;
}