body > .layer {
	width: 100%;
	height: calc(100% - var(--header-height));
	top: var(--header-height);
	position: absolute;
	visibility: hidden;
}

body > .layer.active {
	visibility: visible;
}

#panel-layer {
	z-index: 10;
}

#panel-layer > div {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	height: calc(100% - 50px);
	top: 50px;
	position: absolute;
}

#panel-layer > div > div {
	position: absolute;
	height: 100%;
	background-color: white;
}

#menu-layer {
	z-index: 20;
}

.context-menu {
	width: 180px;
	background: white;
	position: absolute;
	border-radius: 2px;
	box-shadow: #d1d4d8 0 0 0 1px;
}

.context-menu.text > div {
	position: relative;
	height: 30px;
	line-height: 29px;
}

.context-menu.text > div > span {
	margin-left: 16px;
	font-size: 14px;
}
.context-menu.text > div:hover {
	background-color: #f6f8fa;
}

.context-menu.text > div:not(*:first-child) {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.context-menu.prompt {
	height: 80px;
	overflow: hidden;
}
.context-menu.prompt > * {
	position: absolute;
	text-align: center;
}
.context-menu.prompt > input {
	border: none;
	box-shadow: none;
	outline: none;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	color: #547892;
	left: 0;
}
.context-menu.prompt > div {
	width: 100%;
	height: 29px;
	top: 50px;
	border-top: 1px solid #d1d4d8;
}
.context-menu.prompt > div > div {
	position: absolute;
	width: 90px;
	height: 100%;
	line-height: 29px;
	cursor: pointer;
}
.context-menu.prompt > div > div:hover {
	background-color: #f6f8fa;
}
.context-menu.prompt > div > div:last-child {
	left: 89.5px;
	border-left: 1px solid #d1d4d8;
}

#panel-left {
	width: 250px;
}