body > .layer {
	width: 100%;
	height: calc(100% - var(--header-height));
	top: var(--header-height);
	position: absolute;
	pointer-events: none;
}

body > .layer.active {
	pointer-events: auto;
}

#panel-layer {
	z-index: 10;
}

#menu-layer {
	z-index: 20;
}